wa_api_key = ''

# Get these from your network inspector after sending a message to character.ai
character_ai_cookies = {
    '_legacy_auth0.whatever.is.authenticated': 'true',
    'auth0.whatever.is.authenticated': 'true',
    'messages': '',
    'csrftoken': '',
    'sessionid': '',
}
character_ai_token = ''
